@import "tailwindcss";

body {
  background-color: #1a1a1a;
  color: #f1f1f1;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

* {
  transition: all 0.2s ease-in-out;
}
